<template>
  <BModal v-model="isActive" :width="500">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit {{ fields.first_name }}</p>
      </header>
      <div class="modal-card-body">
        <BField label="First Name">
          <BInput v-model="fields.first_name" />
        </BField>
        <BField label="Last Name">
          <BInput v-model="fields.last_name" />
        </BField>
        <BField label="Date">
          <BInput v-model="fields.date" />
        </BField>
        <BField label="Gender">
          <b-radio-button
            v-model="fields.gender"
            native-value="Male"
            type="is-primary is-light"
          >
            Male
          </b-radio-button>
          <b-radio-button
            v-model="fields.gender"
            native-value="Female"
            type="is-primary is-light"
          >
            Female
          </b-radio-button>
        </BField>
      </div>
      <div class="modal-card-foot">
        <BButton @click="onSave" type="is-primary">Save</BButton>
        <BButton @click="isActive = false">Cancel</BButton>
      </div>
    </div>
  </BModal>
</template>

<script>
export default {
  data: () => ({
    isActive: false,
    fields: {
      first_name: "",
      last_name: "",
      date: "",
      gender: "",
    },
  }),
  methods: {
    openModal({ data }) {
      this.isActive = true;
      this.fields = data;
    },
    closeModal() {
      this.isActive = false;
    },
    onSave() {
      this.$emit("setItem", {
        id: this.fields.id,
        data: this.fields,
      });
      this.closeModal();
    },
  },
};
</script>

<style scoped lang="scss">
.modal-card {
  margin: auto;
  width: 100%;
}
</style>