<template>
  <div class="home-page">
    <BTable :data="list" :checked-rows.sync="checkedRows" detailed checkable>
      <b-table-column label="ID" #default="{ row }">
        {{ row.id }}
      </b-table-column>
      <b-table-column label="First Name" #default="{ row }">
        {{ row.first_name }}
      </b-table-column>
      <b-table-column label="Last Name" #default="{ row }">
        {{ row.last_name }}
      </b-table-column>
      <b-table-column label="Date" #default="{ row }">
        {{ row.date }}
      </b-table-column>
      <b-table-column label="Gender" #default="{ row }">
        {{ row.gender }}
      </b-table-column>
      <b-table-column label="" #default="{ row, index }">
        <div class="actions">
          <BButton
            icon-left="pencil"
            type="is-light"
            @click="onEdit(row)"
          ></BButton>
          <BButton
            icon-left="delete"
            type="is-light"
            @click="
              onDelete({
                name: row.first_name,
                index,
              })
            "
          ></BButton>
        </div>
      </b-table-column>
      <template #detail="{ row: { notes } }">
        <div>{{ notes }}</div>
      </template>
    </BTable>
    <BUpload drag-drop class="mt-4" v-model="file" expanded @input="onInput">
      <div class="content has-text-centered">
        <div class="section-title">
          Drop your files here or
          <span class="ml-2 button is-primary is-light">Browse</span>
        </div>
        <BIcon icon="download" size="is-large" />
      </div>
    </BUpload>
    <EditModal ref="editModal" @setItem="onSetItem" />
  </div>
</template>

<script>
export default {
  name: "HomePage",
  data: () => ({
    isActive: false,
    list: [],
    checkedRows: [],
    columns: [
      {
        field: "id",
        label: "ID",
        numberic: true,
      },
      {
        field: "first_name",
        label: "First Name",
      },
      {
        field: "last_name",
        label: "Last Name",
      },
      {
        field: "date",
        label: "Date",
      },
      {
        field: "gender",
        label: "Gender",
      },
      {
        field: "",
        label: "",
      },
    ],
    reader: undefined,
    file: undefined,
  }),
  methods: {
    onInput(e) {
      const reader = new FileReader();
      reader.addEventListener("load", () => {
        const result = JSON.parse(reader.result);
        this.list = result;
        this.file = undefined;
      });
      reader.readAsText(e);
    },
    onEdit(data) {
      this.$refs.editModal.openModal({
        data,
      });
    },
    onDelete({ name, index }) {
      console.log(index);
      this.$buefy.dialog.confirm({
        title: `Delete ${name}`,
        message: "Are you sure you want to delete the item?",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.$delete(this.list, index),
      });
    },
    onSetItem({ id, data }) {
      const i = this.list.findIndex((item) => item.id === id);
      this.list[i] = data;
    },
  },
};
</script>

<style scoped lang="scss">
.home-page {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
.section {
  &-title {
    display: flex;
    align-items: center;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
</style>
<style>
td {
  vertical-align: middle !important;
}
/* .upload-draggable,
.upload {
  width: 100% !important;
} */
</style>